* {
  font-family: "Inter";
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  overflow-y: hidden;
}

body {
  background-color: #f3f5fc;
}

.logo {
  padding-top: 10px;
  margin-left: 10px;
  width: 10%;
}

main {
  display: flex;
  margin-bottom: 10px;
  margin-left: 180px;
  gap: 80px;
}

.text-area {
  height: 400px;
  border: none;
  color: #0a3871;
  margin-top: 30px;
  padding: 2px;
  text-transform: lowercase;
  background-color: transparent;
  resize: none;
}
::placeholder {
  color: #0a3871;
}
.text-area:focus {
  outline: none;
}

.mensaje {
  height: 630px;
  background: white;
  background-image: url("/img/Muneco.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  color: #0a3871;
  width: 100%;
  resize: none;
}
.mensaje:focus {
  outline: none;
}

.container-btn {
  display: flex;
  margin-top: 18px;
}

.btn-desencriptar {
  background: #d8dfe8;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  margin-left: 30px;
  width: 328px;
}

.btn-encriptar {
  background-color: #0a3871;
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: white;
  cursor: pointer;
  height: 67px;
  width: 328px;
}

.btn-copiar {
  border: 1px solid #0a3871;
  border-radius: 24px;
  color: #0a3871;
  cursor: pointer;
  height: 67px;
  width: 336px;
}

.informacion {
  color: #495057;
  font-size: 18px;
}

.ingrese-texto {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 32px;
  text-align: center;
}

.section-right {
  display: flex;
  flex-direction: column;
  width: 400px;
  border-radius: 24px;
  background-color: white;
  overflow: hidden;
  box-sizing: border-box;
  padding: 32px;
}

.section-left {
  display: flex;
  flex-direction: column;
}

.cabecera-logo {
  margin-top: 40px;
  margin-left: 40px;
}

.aviso {
  font-size: 24px;
}

.sugerencia {
  font-size: 18px;
}
