:root {
  /* Dark Blue */
  --dark-blue-100: #609ed4;
  --dark-blue-200: #356ea9;
  --dark-blue-300: #0a3871;
  --dark-blue-400: #072b61;
  --dark-blue-500: #052051;

  /* Light Blue */
  --light-blue-100: #f3f5fc;
  --light-blue-200: #eff1fa;
  --light-blue-300: #e9ecf8;
  --light-blue-400: #aab2d5;
  --light-blue-500: #757fb2;

  /* Gray */
  --gray-100: #ced4da;
  --gray-200: #adb5bd;
  --gray-300: #868e96;
  --gray-400: #495057;
  --gray-500: #343a40;

  /* White */
  --white: #ffffff;
}

* {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  border: none;
  box-sizing: border-box;
}

body {
  background: var(--light-blue-100);
}

.headline {
  height: 2.5rem;
}
.headline__img {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  padding: 0 2.25rem;
  position: absolute;
}
.principal {
  display: flex;
  height: calc(100vh - 5rem);
  gap: 5rem;
  padding: 0 2.5rem;
  justify-content: space-between;
}

/* SECCIÓN IZQUIERDA */

.left-container {
  margin-left: 12.5rem;
  margin-top: 8rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 42.5rem;
  overflow: hidden;
}
.left-container__text {
  color: var(--dark-blue-300);
  background-color: transparent;
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  align-self: stretch;
  outline: none;
  cursor: pointer;
  resize: none;
  height: 100%;
}
.left-container__text::placeholder {
  color: var(--dark-blue-300);
}
.left-container__text:focus {
  cursor: text;
}
.left-container__text:focus::placeholder {
  color: var(--gray-300);
}
.alert {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.alert__img {
  width: 1rem;
  height: 1rem;
}
.alert__text {
  color: var(--gray-400);
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 150%;
}
.btn {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1.5rem;
}
.btn__encrypt {
  border-radius: 1.5rem;
  border: 1px solid var(--dark-blue-300);
  background: var(--dark-blue-300);
  width: 20.5rem;
  padding: 1.5rem;
  color: var(--white);
  text-align: center;
  line-height: normal;
  cursor: pointer;
  transition: 300ms;
}
.btn__encrypt:hover {
  background-color: var(--dark-blue-400);
  animation-timing-function: ease-out;
  /* animation-duration: 300ms; */
}
.btn__decrypt {
  border-radius: 1.5rem;
  border: 1px solid var(--dark-blue-300);
  background: var(--white);
  width: 20.5rem;
  padding: 1.5rem;
  color: var(--dark-blue-300);
  text-align: center;
  line-height: normal;
  cursor: pointer;
  transition: 300ms;
  animation-timing-function: ease-out;
}
.btn__decrypt:hover {
  background-color: var(--light-blue-300);
  /* animation-duration: 300ms; */
}

/* SECCIÓN DERECHA */
.right-container {
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 25rem;
  overflow: hidden;
  padding: 2rem;
  box-sizing: border-box;
}
.right-container__img {
  background-color: var(--white);
  margin: 1rem 0;
  width: 100%;
  object-fit: scale-down;
}
.right-container__warn {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--gray-500);
  text-align: center;
  background-color: var(--white);
  line-height: 120%;
}
.right-container__message {
  color: var(--gray-500);
  background-color: var(--white);
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  line-height: 150%;
}
.right-container__text {
  color: var(--dark-blue-300);
  background-color: var(--white);
  font-size: 2rem;
  font-weight: 400;
  line-height: 150%;
  align-self: stretch;
  outline: none;
  resize: none;
  height: 100%;
}
.right-container__copy {
  border-radius: 1.5rem;
  border: 1px solid var(--dark-blue-300);
  background: var(--white);
  width: 100%; /*sino 21rem;*/
  padding: 1.5rem;
  color: var(--dark-blue-300);
  text-align: center;
  line-height: normal;
  cursor: pointer;
  transition: 300ms;
  animation-timing-function: ease-out;
}
.right-container__copy:hover {
  background-color: var(--light-blue-300);
  /* animation-duration: 300ms; */
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
}

.footer__text {
  display: flex;
  align-items: center;
  height: 2.5rem;
  color: var(--dark-blue-300);
}

/* Display */
.display-none {
  display: none;
}

.middle-view {
  color: var(--gray-300);
  background-color: transparent;
  width: 100%;
  text-align: center;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .principal {
    flex-wrap: wrap;
    gap: 4rem;
    height: auto;
  }

  .headline__img {
    padding: 0;
  }

  .left-container {
    margin-left: 0;
    margin-bottom: 0;
    width: 100%;
  }

  .left-container__text {
    min-height: 40.5rem;
  }

  .right-container__img {
    display: none;
  }

  .right-container {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .principal {
    padding: 0 1rem;
  }

  .left-container__text {
    min-height: 16rem;
  }

  .btn {
    flex-wrap: wrap;
  }

  .btn__encrypt,
  .btn__decrypt {
    width: 100%;
  }

  .headline__img {
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
}
